<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-blue-600">
    <div class="flex justify-center my-16 mx-32 items-center">
    <div class="space-y-80">
        <p class="flex justify-center text-white font-bold text-5xl text-center">SILAHKAN AMBIL KARTU <br> ANDA</p>
        </div>
        </div>
        <div class="flex justify-center mt-20">
            <a href="index.html"><img src="ambil.png" alt=""></a>
        </div>
</body>
</html>