<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>BAHASA</title>
</head>
<body class="bg-blue-600 text-center">
    <div class="border-b-4 mx-44 my-5">
    <p class="text-4xl text-white text-center font-bold py-4 mb-12">SILAHKAN PILIH BAHASA</p>
    </div>
    <p class="text-4xl text-white text-center font-bold py-4 mb-12">PLEASE SELECT YOUR LANGUAGE</p>
    <div class="mx-40 space-y-32 mt-16 text-right">
        <a  href="pin.html"><p class="text-4xl text-white font-bold">INDONESIA -></p></a>
        <p class="text-4xl text-white font-bold">ENGLISH -></p>
    </div>
    <p class="text-4xl text-white text-center font-bold py-4 mb-12">TO OBTAIN CARD PRESS CANCEL</p>
    <div class="border-b-4 mx-44 my-5">
    </div>
    <p class="text-4xl text-white text-center font-bold py-4 mb-12">TEKAN 'CANCEL' UNTUK MEMBATALKAN</p>
</body>
</html>