<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-blue-600">
    <div>
        <p class="text-center text-white text-4xl">PILIH JUMLAH PAKET TUNAI</p>
    </div>
    <div class="grid grid-cols-2 text-center">
        <div class="text-white text-4xl mt-16">
        <a href=""><p class="mt-16"><- PENARIKAN</p></a>
        <a href=""><p class="mt-16"><- TRANSFER</p></a>
        <a href=""><p class="mt-16"><- PEMBELIAN</p></a>
        <a href=""><p class="mt-16"><- LAINNYA</p></a>
        </div>
        <div class="text-white text-4xl mt-14">
        <a href=""><p class="mt-16">INFO REKENING -></p></a>
        <a href=""><p class="mt-16">PEMBAYARAN -></p></a>
        <a href=""><p class="mt-16">UBAH PIN -></p></a>
        <a href="ambilkartu.html"><p class="mt-16">KELUAR -></p></a>
        </div>
        
    </div>
</body>
</html>